@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

html,
body {
    max-width: 100%;
    height: 100%;
    margin: 0;

}

main {
    background-color: #f1e5ea;

}

header {
    width: auto;
    height: 80px;
    margin: 20px;

}

#profile-link {
    font-weight: 400;
    /* font-family: 'Courgette', cursive; */
    font-size: 50px;
    color: rgb(169, 13, 122);
    font-family: 'Monoton', cursive;
}

.navbar {
    display: flex;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    gap: 2rem;
}

.navbar a {
    padding: 10px;
    color: black;
    margin: 2px;
    text-transform: uppercase;

}


.navbar a:hover {
    background-color: lightpink;
    color: white;
    transform: scale(1.1);
}

.hero-image {
    background-image: linear-gradient(rgba(255, 182, 193, 0.249), rgba(255, 182, 193, 0.368)), url('https://raw.githubusercontent.com/bel-lloyd/my-files/master/Neeta_banner.JPG');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0px;
    margin: 0 auto;
}

.Hero-highlight {
    font-size: 55px;
    font-family: 'Courgette', cursive;
    color: white;
}

/* .Hero-Section {
    display: flex;
    justify-content: left;
} */

.Hero-text {
    font-size: 25px;
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    font-family: 'Courgette', cursive;
    color: rgb(169, 13, 122)
}

button {
    font-size: 20px;
    font-family: 'Courgette', cursive;
}

.About-Me {
    background-color: #f1e5ea;
    margin: 0;
    height: auto;
    padding: 20px;
}

.About-Me,
h2 {
    font-family: 'Courgette', cursive;
}

.technologis {
    background-color: #f1e5ea;
    margin: 0;
    height: 15svh;
    padding: 0px;

}

.tech-icon {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    margin: 2rem;
}

#icon {
    box-shadow: 0px 0px 10px rgb(228, 108, 192);
    margin: 0.5rem;
}

#get-in-touch:hover {
    text-decoration: none;
}

#get-in-touch {

    color: rgb(169, 13, 122);
    text-decoration: underline;

}

.social-link {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    margin: 2rem;
}

footer {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.social {
    background-color: white;
    color: rgb(169, 13, 122);
    height: 25vh;
    padding: 25px;
}

.social,
h1 {
    font-family: 'Courgette', cursive;
    font-size: 2rem;
}

/* .topnav {
     background-color: #333; 
    overflow: hidden;
} */

/* Style the links inside the navigation bar */
/* .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
} */

/* Change the color of links on hover */
/* .topnav a:hover {
    background-color: #ddd;
    color: black;
} */

/* Add an active class to highlight the current page */
/* .topnav a.active {
    background-color: lightpink;
    color: white;
} */

/* Hide the link that should open and close the topnav on small screens */
/* .topnav .icon {
    display: none; 
}  */

.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width:769px) {
    .social {
        height: auto;
        margin: 5px;
        width: auto;
    }

    /* .topnav {
        display: none;
    } */
}

/* Contact.css code */
.connection {
    width: 100%;
    height: 75vh;
}

form {
    margin: 50px auto;
    width: 90%;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.form-item label {
    flex-basis: 150px;
    font-size: 22px;
    font-family: spartan, sans-serif;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
    border: 2px solid rgb(169, 13, 122)
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid rgb(169, 13, 122)
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid #52a2c5;
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
}

.form-item button:hover {
    border: 2px solid rgb(169, 13, 122);
    background-color: rgb(169, 13, 122);
    color: #FFF;
}

.form-item button {
    width: 100px;
}

form h2 {
    font-family: 'Courgette', cursive;
    /* font-weight: 200px; */
    color: rgb(169, 13, 122);
    text-align: center;
    font-size: 3rem;
    text-align: center;
}

.hero-image-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    padding-top: 20px;
    margin: 0;
    width: 100%;
    background-color: #f1e5ea;
    border-radius: 5px;
}

.connect {
    width: 100%;
    height: 50vh;
    /* background-size: cover;
    background-position: top; */
    padding: 0px;
    margin: 0px;
}

/* Projectcss code */
.project-card {
    width: 200px;
    height: 200px;
    background-color: white;
    box-shadow: #52a2c5;
    padding: 5px;
    margin: 5px;
}

.project-page {
    background-color: #f1e5ea;
    /* display: flex; */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding-bottom: 55vh;
}

.project-page,
h1 {
    color: rgb(169, 13, 122);
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 2rem;
}

@media (max-width:768px) {
    #profile-link {
        justify-content: center;
    }

    /* .navbar {
        display: none;
    } */

    header {
        height: auto;
        display: flex;
        flex-direction: column;

    }

    .nav1 {
        display: flex;
        flex-direction: column;
    }

    .tech-icon {
        display: flex;
        flex-wrap: wrap;
        padding: 0rem 0rem;
    }

    .Hero-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: end;
        margin: 5px;
        padding: 10px;
    }

    .Hero-highlight {
        font-size: 2rem;

    }

    .Hero-subtext {
        font-size: 1.2rem;
    }


    .About-Me {
        height: auto;
        margin: 5px;
        width: auto;
    }

    .social,
    h1 {
        text-align: center;

    }

    .social {
        height: auto;
        margin: 5px;
        width: auto;
    }
}

@media (max-width:600px) {
    .form-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;

    }

    .form-item label {
        flex-basis: 10px;
        width: 80%;
    }

    .form-item input {
        width: 80%;
    }

    .form-item textarea {
        width: 80%;
    }

    .social,
    h1 {
        text-align: center;
    }

    .social,
    h1 {
        text-align: center;
        height: auto;
        margin: 5px;
        width: auto;
    }
}

@media (max-width:454px) {

    .hero-image {
        /* position: absolute; */
        height: auto;
        margin: 0px;
        width: auto;
    }
}