@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

html,
body {
    max-width: 100%;
    height: 100%;
    margin: 0;

}

main {
    background-color: #f1e5ea;

}

header {
    width: 100%;
    height: 80px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile-link {
    font-weight: 400;
    /* font-family: 'Courgette', cursive; */
    font-size: 50px;
    color: rgb(169, 13, 122);
    font-family: 'Monoton', cursive;
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    gap: 2rem;
}

nav a {
    padding: 10px;
    color: black;
    margin: 2px;
    text-transform: uppercase;

}

nav a:hover {
    background-color: lightpink;
    color: white;
    transform: scale(1.1);
}

.hero-image {
    background-image: linear-gradient(rgba(255, 182, 193, 0.249), rgba(255, 182, 193, 0.368)), url('https://raw.githubusercontent.com/bel-lloyd/my-files/master/Neeta_banner.JPG');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0px;
    margin: 0 auto;


}

.Hero-highlight {
    font-size: 55px;
    font-family: 'Courgette', cursive;
    color: white;

}

/* .Hero-Section {
    display: flex;
    justify-content: left;
} */

.Hero-text {
    font-size: 25px;
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    font-family: 'Courgette', cursive;
    color: rgb(169, 13, 122)
}

button {
    font-size: 20px;
    font-family: 'Courgette', cursive;
}

.About-Me {
    background-color: #f1e5ea;
    margin: 0;
    height: auto;
    padding: 20px;
}

.About-Me,
h2 {
    font-family: 'Courgette', cursive;
}

.technologis {
    background-color: #f1e5ea;
    margin: 0;
    height: 15svh;
    padding: 0px;

}

.tech-icon {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    margin: 2rem;
}

#icon {
    box-shadow: 0px 0px 10px rgb(228, 108, 192);
    margin: 0.5rem;
}

#get-in-touch:hover {
    text-decoration: none;
}

#get-in-touch {

    color: rgb(169, 13, 122);
    text-decoration: underline;

}

.social-link {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    margin: 2rem;
}

footer {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.social {
    background-color: white;
    color: rgb(169, 13, 122);
    height: 25vh;
    padding: 25px;
}

.social,
h1 {
    font-family: 'Courgette', cursive;
}

@media (max-width:768px) {
    .tech-icon {
        display: flex;
        flex-wrap: wrap;
        padding: 0rem 0rem;
    }

    .Hero-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: end;
        margin: 5px;
        padding: 10px;
    }

    .Hero-highlight {
        font-size: 2rem;

    }

    .Hero-subtext {
        font-size: 1.2rem;
    }

    .About-Me {
        height: auto;
        margin: 5px;
        width: auto;
    }

    .social,
    h1 {
        text-align: center;
    }
}